name: wallora
description: "Wallora - Modern wallpaper application for Flutter"
publish_to: 'none'

version: 1.0.1+2

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  
  # API istekleri için
  http: ^1.2.0
  
  # Görselleri hızlı ve önbellekli yükleme
  cached_network_image: ^3.3.1
  
  # Duvar kağıtları için grid düzeni
  flutter_staggered_grid_view: ^0.7.0
  
  # Yenileme için
  pull_to_refresh: ^2.0.0
  
  # İndirme ve izinler için
  permission_handler: ^11.3.1
  path_provider: ^2.1.1
  image_gallery_saver: ^2.0.3
  image: ^4.1.7
  
  # Google Fonts için
  google_fonts: ^6.1.0
  
  # Local veritabanı için
  sqflite: ^2.3.0
  path: ^1.8.3
  
  # Uygulama bilgileri için
  package_info_plus: ^8.0.0
  
  # Google AdMob için
  google_mobile_ads: ^5.1.0
  
  # Bağlantıları açmak için
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  
  # App icon generator
  flutter_launcher_icons: ^0.13.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/logo/
    - assets/icon/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

# App icon configuration
flutter_launcher_icons:
  android: true
  ios: true
  web:
    generate: true
    image_path: "assets/logo/wallora.png"
    background_color: "#ffffff"
    theme_color: "#0175C2"
  windows:
    generate: true
    image_path: "assets/logo/wallora.png"
    icon_size: 48
  macos:
    generate: true
    image_path: "assets/logo/wallora.png"
  image_path: "assets/logo/wallora.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  adaptive_icon_background: "#ffffff"
  adaptive_icon_foreground: "assets/logo/wallora.png"
